.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}

.site-menu {
  width: 100vw;
  height: 5vh;
}

.site-application {
  width: 100vw;
  height: 90vh;
}