<div class="localizacoes-novo">
  <h1>Cadastro de Nova Localização</h1>
  <div class="form-group">
    <div class="row">
      <label for="localization-building-address">Endereço</label>
      <select 
        [disabled]="isLoading"
        class="form-control" 
        id="localization-building-address"
        [(ngModel)]="selectedAddress" 
        (ngModelChange)="selectAddress($event)" 
        required>
        <option *ngFor="let address of addresses" [ngValue]="address">
          {{ address.description }}
        </option>
      </select>
    </div>
    <div class="row">
      <label for="localization-building">Prédio</label>
      <select 
        [disabled]="isLoading"
        class="form-control" 
        id="localization-building"
        [(ngModel)]="selectedBuilding"
        (ngModelChange)="selectBuilding($event)"
        required>
        <option *ngFor="let building of buildings" [ngValue]="building">
          {{ building.descriptionFormatted }}
        </option>
      </select>
    </div>
    <div class="row">
      <label for="localization-level">Andar</label>
      <input id="localization-level" type="text" class="form-control" [(ngModel)]="newLocalization.level"/>
    </div>
    <div class="row">
      <label for="localization-description">Descrição</label>
      <input id="localization-description" type="text" class="form-control" [(ngModel)]="newLocalization.description"/>
    </div>
    <div class="row">
      <div class="btn-group" role="group">
        <button 
          (click)="save()" 
          class="btn btn-primary" 
          [disabled]="isLoading">
          Salvar
        </button>
        <button 
            type="button" 
            routerLink="../"
            routerLinkActive="router-link-active"
            class="btn btn-secondary" 
            [disabled]="isLoading">
          Cancelar
        </button>
      </div>
      
    </div>
  </div>
</div>
