<form (ngSubmit)="onSubmit()" class="form-group" [formGroup]="newAddressForm">
  <div class="row novo-endereco-header">
    <div class="col-sm-3">
      <label for="new-address-zipCode">CEP</label>
    </div>
    <div class="col-sm-3">
      <label for="new-address-number">Número</label>
    </div>
    <div class="col-sm-3">
      <label for="new-address-complement">Complemento</label>
    </div>
    <div class="col-sm-3">
      <label for="new-address-observation">Observação</label>
    </div>
  </div>
  <div class="row novo-endereco-body">
    <div class="col-sm-3">
      <input class="form-control" id="new-address-zipCode" type="text" name="new-address-zipCode"
        formControlName="newAddressZipCode" />
    </div>
    <div class="col-sm-3">
      <input class="form-control" id="new-address-number" type="text" name="new-address-number"
        formControlName="newAddressNumber" />
    </div>
    <div class="col-sm-3">
      <input class="form-control" id="new-address-complement" type="text" name="new-address-complement"
        formControlName="newAddressComplement" />
    </div>
    <div class="col-sm-3">
      <input class="form-control" id="new-address-observation" type="text" name="new-address-observation"
        formControlName="newAddressObservation" />
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" type="submit" [disabled]="!newAddressForm.valid">
      Salvar
    </button>
  </div>
</form>
