<nav class="navigation">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/historico" routerLinkActive="active">Histórico</a></li>
      <li><a class="dropdown-item" routerLink="/equipamentos" routerLinkActive="active">Equipamentos</a></li>
      <li><a class="dropdown-item" routerLink="/localizacoes" routerLinkActive="active">Localizações</a></li>
      <li><a class="dropdown-item" routerLink="/simulacao" routerLinkActive="active">Simulação</a></li>
    </ul>
  </div>
</nav>
