<nav class="navigation">
  <div class="logo">
     <!-- Aplicar estilos para que a imagem mantenha-se dentro do nav -->
    <img src="path/to/helmet" alt="Logo do TCC" />
  </div>
  <!-- Por algum motivo o routerLink tá tirando com a minha cara -->
  <div class="menu">
    <ul class="menu-items">
      <li class="menu-item">
        <a routerLink="['/historico']" routerLinkActive="active">Histórico</a>
      </li>
      <li class="menu-item">
        <a routerLink="/eventos">Eventos</a>
      </li>
      <li class="menu-item">
        <a routerLink="/equipamentos">Equipamentos</a>
      </li>
      <li class="menu-item">
        <a routerLink="/localizacoes">Localizações</a>
      </li>
      <li class="menu-item">
        <a routerLink="/simulacao">Simulação</a>
      </li>
    </ul>
  </div>
</nav>
