<form class="container history-header" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-3">
      <label for="history-header-address">Endereço</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-building">Prédio</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-location">Localização</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-sensor">Sensor</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" id="history-header-address" name="history-header-address"
        (ngModelChange)="selectAddress($event)" [(ngModel)]="headerParameters.addressId" [disabled]="isLoading">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let address of addresses" [ngValue]="address.id">
          {{ address.description }}
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="history-header-building" name="history-header-building"
        (ngModelChange)="selectBuilding($event)" [(ngModel)]="headerParameters.buildingId"
        [disabled]="isLoading || !headerParameters.addressId">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let building of filteredBuildings" [ngValue]="building.id">
          {{ building.description }}
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="history-header-location" name="history-header-location"
        [(ngModel)]="headerParameters.locationId" [disabled]="isLoading || !headerParameters.buildingId"
        (ngModelChange)="selectLocation($event)">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let location of filteredLocations" [ngValue]="location.id">
          {{ location.description }}
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="history-header-sensor" name="history-header-location"
        [(ngModel)]="headerParameters.sensorId" [disabled]="isLoading || !headerParameters.locationId">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let sensor of filteredSensors" [ngValue]="sensor.id">
          {{ sensor.description }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="history-header-equipment">Equipamento</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-vector">Vetor</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-startDatetime">Data/Hora Início</label>
    </div>
    <div class="col-sm-3">
      <label for="history-header-endDatetime">Data/Hora Fim</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" id="history-header-equipment" name="history-header-equipment"
        [(ngModel)]="headerParameters.equipmentId">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let equipment of equipments" [ngValue]="equipment.id">
          {{ equipment.description }}
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="history-header-vector" name="history-header-equipment"
        [(ngModel)]="headerParameters.vectorId">
        <option [ngValue]="0">
          Todos
        </option>
        <option *ngFor="let vector of vectors" [ngValue]="vector">
          {{ getVectorDescription(vector) }}
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <p-calendar
        class="form-calendar"
        [(ngModel)]="headerParameters.startDatetime"
        id="history-header-startDateTime"
        name="history-header-startDateTime"
        [showIcon]="true"
        [showTime]="true"
        dateFormat="dd/mm/yy"></p-calendar>
      <!-- <input type="datetime" class="form-control" id="history-header-startDateTime" name="history-header-startDateTime"> -->
    </div>
    <div class="col-sm-3">
      <p-calendar
        class="form-calendar"
        [(ngModel)]="headerParameters.endDatetime"
        id="history-header-endDateTime"
        name="history-header-endDateTime"
        [showIcon]="true"
        [showTime]="true"
        dateFormat="dd/mm/yy"></p-calendar>
      <!-- <input type="datetime" class="form-control" id="history-header-endDateTime" name="history-header-endDateTime"> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        Filtrar
      </button>
    </div>
  </div>
</form>
